<script src="https://paygate.novalnet.de/v2/checkout.js"></script>
<script src="{{ plugin_path('Novalnet') }}/js/novalnet_payment_form.js"></script>
<div id="novanet_payment_form_div"></div>
<input type="hidden" id="nn_request" name="nn_request" value="{{request}}">
